html, body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 30px;
}

.intro-background {
  height: 800px;
  background: linear-gradient(51.56deg, #38307F 9.61%,
                              #6EA4BF 66.74%,
                              rgba(148, 198, 211, 0.899178) 95.63%);
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-svg {
  position: absolute;
  left: 10%;
  top: 5%;
}

.intro-text {
  position: absolute;
  color: white;
  top: 35%;
}

.intro p {
  margin: 0;
  font-size: 50px;
}

#tagline {
  margin-top: 50px;
  font-size: 30px;
  border-bottom: 5px;
}

.intro h1 {
  font-size: 75px;
}

.container {
  position: relative;
  background-color: white;
  height: 400px;
}

.about-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5%;
}

.about-text {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 20%;
}

.divider {
  width: 64px;
  height: 4px;
  background-color: #38307F;
  margin-bottom: 20px;
}

.in-progress {
  margin-top: 30%;
  background-color: #6EA4BF;
  height: inherit;
  color: white;
  text-align: center;
}
