html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-color: white;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

ul {
  padding-left: 0;
  margin-left: -45px;
}

.header {
  color: #fff;
  background: linear-gradient(51.56deg, #38307F 9.61%,
                              #6EA4BF 66.74%,
                              rgba(148, 198, 211, 0.899178) 95.63%);
}

.view {
  position: relative;
  height: 100vh;
  width: 100%;
  min-width: 350px;
  min-height: 315px;
}

.h-100 {
  height: 100%!important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.w-60 {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#balloon {
  position: absolute;
  padding: 0;
  bottom: -2px;
  right: 15%;
  width: 18%;
  padding-top: 10%;
  max-height: 1046px;
}

#balloon-string {
  position: absolute;
  padding: 0;
  top: 0px;
  right: 21.85%;
  width: 18%;
  max-height: 1046px;
}

.about {
  position: relative;
  color: #000;
  background: white;
}

section {
  padding-top: 150px;
  padding-bottom: 50px;
}

.text {
  padding-left: 10%;
  padding-right: 40%;
}

.divider {
  width: 64px;
  height: 6px;
}

.purple {
  background-color: #38307F;
}

.light-blue {
  background-color: #BAE8E7;
}

.in-progress {
  position: relative;
  background-color: #6EA4BF;
  height: inherit;
  color: white;
  text-align: center;

}

.text-center {
  padding: 20%;
}

.code .button {
  display: inline-block;
  padding: 45px;
}

.card {
  box-shadow: 0px 23px 38px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
}

.card-container {
  position: relative;
  padding-left: 10%;
}

.code {
  position: relative;
  background-color: #BAE8E7;
  color: #000;
}

.design {
  background-color: #6EA4BF;
  color: #FFF;
}

.photography {
  background-color: #38307F;
  color: #FFF;
}

@media not all and (orientation: landscape), (max-width: 750px),
                   (min-height: 900px) and (max-width: 1240px) {
  #balloon {
    display: none;
  }

  #balloon-string {
    display: none;
  }
  .h1 {
    font-size: 55px;
  }
  .about-text {
    padding-right: 10%;
  }
}
