html, body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.intro-background {
  height: 800px;
  background: linear-gradient(51.56deg, #38307F 9.61%,
                              #6EA4BF 66.74%,
                              rgba(148, 198, 211, 0.899178) 95.63%);
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-svg {
  margin-top: 30px;
}

.intro-text {
  position: absolute;
  top: 35%;
}

.intro p {
  font-size: 50px;
}

.intro h1 {
  font-size: 75px;
}

#tagline {
  margin-top: 50px;
  font-size: 30px;
  text-decoration:none;
  border-bottom: 5px;
}
