.banner {
  width: 80%;
  margin: auto;
  vertical-align: center;
}

.gray-banner {
  width: 100%;
  background-color: #707070;
  display: flex;
}
.blue-banner {
  width: 100%;
  background-color: #456990;
  display: flex;
}
.project-content {
  margin: 5% 15%;
}

.project-image-full {
  margin: 3% 0;
  width: 100%;
}

.project-image-half {
  margin: 3% 0;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.project-title {
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 2em;
}

.project-subtitle {
  font-weight: unset;
  font-size: 1.4em;
}

.no-bottom-margin {
  margin-bottom: 0em;
}

h2 {
  margin-top: 5%;
  margin-bottom: 0;
}

iframe {
  margin: 5%;
}

h3 {
  margin-top: 5%;
}
p {
  margin-top: 1%;
  font-size: 1em;
}

.row {
  display: flex;
  
}

.column-2 {
  flex: 50%;
  padding-right: 5%;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

li {
  font-size: 0.9em;
}

.lightbox:hover {
  cursor: zoom-in;
}

.invisible {
  display: none;
}

button {
  display: block;
  margin: 1em 0;
  padding: 1em 2em;
  background-color: transparent;
  color: black;
  border: 0.05em solid;
  border-radius: 50px;
  font-size: 1em;
  transition: 0.3s;
}

button:hover {
  background-color: lightgreen;
}

button:after {
  background-color: lightgreen;
}

.collapse {
  -moz-transition: height 2s;
  -ms-transition: height 2s;
  -o-transition: height 2s;
  -webkit-transition: height 2s;
  transition: height 2s;
  overflow: hidden;
}