body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.Header {
  background-color: white;
  color: white;
}

.Work {
  background-color: white;
  color: black;
}

.Work-container {
  min-height: 100vh;
}

.Header-container {
  background: url(images/wave-top.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  top: 0;
}

.Header-intro {
  padding-top: 5%;
  padding-left: 10%;
}

.Header-intro-title {
  font-size: 70px;
  margin-bottom: 30px;
}

.Header-intro-body {
  font-size: 25px;
}

.Header-intro-button {
  margin-top: 20px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  width: 270px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.Header-intro-arrow {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
