body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

div, img  {
  margin: 0;
  padding: 0;
}

.Header {
  background-color: white;
  color: white;
}

.Work {
  background-color: white;
  color: black;
}

.container {
  min-height: 100vh;
}

.Work-grid {
  max-width: 66vh;
}

.Work-container {
  background: url(images/about-wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  top: 0;
}
.Work-grid-box {

}

.Work-circle {
  height: 600px;
  width: 600px;
  background-color: #2F80ED;
  border-radius: 50%;
  float: right;
  margin-right: -10%;
  margin-top: -10%;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  color: white;
}

.Work-circle-body {
  margin: 30% 25%;
  padding-right: 15%;
  height: 100%;
}

.Work-circle-body-title {
  font-weight: bold;
  font-size: 50px;
}

.Work-circle-body-divider {
  margin-top: -15px;
  width: 120px;
  height: 8px;
  background-color: #56CCF2;
  margin-bottom: 30px;
}

.Work-circle-body-text {
  font-size: 20px;
}

.Work-footer {
  z-index: -3;
  vertical-align: bottom;
  display: table-cell;
}

.Work-bottom-circle {
  position: absolute;
  z-index: 2;
  height: 600px;
  width: 600px;
  background-color: black;
  border-radius: 50%;

  float: left;

}


.Header-container {
  background: url(images/wave-top.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  top: 0;
}

.About-container {
  background: #2F80ED;
  min-height: 80vh;
}

.About-circle {
  width: 600px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-left: -10%;
  margin-top: -7%;
  color: black;
}

.About-body {
  color: white;
  margin-left: 40%;
  margin-right: 10%;
  padding-top: 10%;
  font-size: 25px;
}

.About-circle-body {
  overflow: visible;
  margin: 30% auto;
  margin-left: 40%;
  margin-right: 10%;
  height: 100%;
}
.About-circle-body-title {
  font-weight: bold;
  font-size: 50px;
}

.About-circle-body-divider {
  margin-top: -15px;
  width: 140px;
  height: 8px;
  background-color: #56CCF2;
  margin-bottom: 30px;
}

.circle-body-text {
  font-size: 20px;
}

.Coffee-container {
  background: #6DB3F2;
  background-image: url(images/sky-components.svg);
  background-image: url(images/sky-components.svg), linear-gradient(180deg, #2F80ED 0%, #56CCF2 100%);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  top: 0;
  padding-top: 20%;
  
}

.Coffee-circle {
  margin: auto;
  height: 450px;
  width: 450px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  vertical-align: center;
}

.Coffee-circle-body {
  margin: 25% auto;
  text-align: center;
  overflow: visible;
  height: 100%;
}

.Coffee-circle-text {
  margin: auto;
  font-size: 40px;
}

.Coffee-button {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  vertical-align: center;
  border: none;
  background: linear-gradient(45deg, #2F80ED 0%, #56CCF2 100%);
  width: 270px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-weight: bold;
  opacity: 0.5;
  transition: 0.3s;
}

.Coffee-button:hover {
  opacity: 1
}

.Header-intro {
  padding-top: 5%;
  padding-left: 15%;
}

.Header-intro-title {
  font-size: 70px;
  margin-bottom: 30px;
}

.Header-intro-body {
  font-size: 25px;
}

.Header-intro-button {
  margin-top: 20px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  width: 270px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.Header-intro-button:hover {
  background-color: white;
  color: #2F80ED;
}

.Header-intro-arrow {
  margin-left: 9%;
  padding-top: 5%;
  animation: arrow-up-down 0.9s infinite alternate;
}

.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1%;
  margin-bottom: -1%;
}

.Coffee-arrow {
  animation: arrow-left-right 0.9s infinite alternate;
  padding-top: 2%;
  padding-right: 5%;
}

.Footer {
  background-color: #0056CA; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

@keyframes arrow-left-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}

@keyframes arrow-up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
