body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

div {
  margin: 0;
  padding: 0;
}

.Header {
  background-color: white;
  color: white;
}

.Work {
  background-color: white;
  color: black;
}

.container {
  min-height: 100vh;
}

.Work-grid {
  max-width: 66vh;
}

.Work-grid-box {

}

.Work-circle {
  height: 600px;
  width: 600px;
  background-color: #2F80ED;
  border-radius: 50%;
  float: right;
  margin-right: -10%;
  margin-top: -10%;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  color: white;
}

.Work-circle-body {
  margin: 30% 25%;
  padding-right: 15%;

}
.Work-circle-body-title {
  font-weight: bold;
  font-size: 50px;
}

.Work-circle-body-divider {
  margin-top: -15px;
  width: 120px;
  height: 8px;
  background-color: #56CCF2;
  margin-bottom: 30px;
}

.Work-circle-body-text {
  font-size: 20px;
}

.Work-footer {
  margin-bottom: -5px;
}

/*
.Work-bottom-circle {
  height: 600px;
  width: 600px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-left: -10%;
  margin-bottom: -130%;
}
*/

.Header-container {
  background: url(images/wave-top.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  top: 0;
}

.About-container {
  background: #2F80ED;
  min-height: 100vh;
}

.About-circle {
  height: 600px;
  width: 600px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-left: -10%;
  margin-top: -10%;
  color: black;
}


.About-circle-body {
  margin: 30% auto;
  margin-left: 40%;
  margin-right: 10%;

}
.About-circle-body-title {
  font-weight: bold;
  font-size: 50px;
}

.About-circle-body-divider {
  margin-top: -15px;
  width: 140px;
  height: 8px;
  background-color: #56CCF2;
  margin-bottom: 30px;
}

.About-circle-body-text {
  font-size: 20px;
}

.Coffee-container {
  background: linear-gradient(180deg, #2F80ED 0%, #56CCF2 100%);
}

.Header-intro {
  padding-top: 5%;
  padding-left: 15%;
}

.Header-intro-title {
  font-size: 70px;
  margin-bottom: 30px;
}

.Header-intro-body {
  font-size: 25px;
}

.Header-intro-button {
  margin-top: 20px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  width: 270px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.Header-intro-button:hover {
  background-color: white;
  color: #2F80ED;
}

.Header-intro-arrow {
  margin-left: 9%;
  padding-top: 5%;
  animation: arrow-up-down 0.9s infinite alternate;
}

.footer-images {
  margin-bottom: -100px;
  bottom: 0px;
  float: bottom;
}

@keyframes arrow-up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
